@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

*{padding:0;margin:0;border:0;}

a:visited{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: none;
	color: black;
}
a:active{
	text-decoration: none;
	color: black;
}
a:link{
	text-decoration: none;
	color: black;
}

img{
display: block;
max-width: 100%;
}

.main__container{
	display: flex;
	justify-content: center;
	flex-direction: column;

}
.header{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;



}

.header__TopMenu{
	display: flex;
	flex-direction: row;
	justify-content: center;

}
.header__TopMenu__element{
	padding: 0 16px;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;

}
.header__MainTittle{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 64px;
	/* or 100% */

	text-align: center;
	letter-spacing: -0.02em;

	margin-top: 100px; 
	width: 804px;


}
.header__BetaTittle{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;

	
	width: 416px; /*ширина должна быть 484px, но я ее уменьшил чтобы перенос текста совпадал с тем, что на макете*/
	margin-top: 40px;
}

.header__buttons{
	display: flex;
	flex-direction: row;
	justify-content: center;

	margin-top: 80px;
}
.header__buttons__element{
	display: flex;
	flex-direction: row;
	align-items: center;

	width: 231px;
	height: 56px;
	margin-left: 8px;
	margin-right: 8px; 

	border: 2px solid black;
	border-radius: 8px;
}
.telegram{
	background-color: black;

	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */


	color: #FFFFFF;
}
.video{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */

	color: #181818;
}
.header__buttons__element__subelement{
	display: flex;
	flex-direction: row;
	align-items: center;
	grid-gap: 12px;

	margin: auto;

}
.header__BottomMenu{
	display: flex;
	flex-direction: row;
	align-items: center;
	grid-gap: 17px;


	padding: 0px;
	margin-top: 124px;

}
.header__BottomMenu__element{
	border: 1px solid black;
	border-radius: 10000px;

	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */

	color: #181818;

	padding: 0 16px;
}
.header__BottomMenu__element:hover{ /*c вероятностью 100% hover тут не нужен, а надо было сделать просто 1 эл черным, но я так захотел*/
	color: #FFFFFF;
	background-color: #181818;
}
.main__info__images{
	display: flex;
	flex-direction: column;
	align-items:center;
	grid-gap: 40px; 

	margin-top: 40px;
}
.main__info__images__element{
	display: flex;
	flex-direction: row;
	align-items:center;
	grid-gap: 40px;

	width: 1060px; 
}
.main__info__DesignAndDevelopment__Card{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	grid-gap: 40px;

	margin-top: 120px;
}
.main__info__DesignAndDevelopment__Card__images{
	display: flex;
	flex-direction: row;
	align-items: center;

	width: 50%;
}
.main__info__DesignAndDevelopment__Card__text{
	width: 50%;

}

.TextBox2{
	width: 484px;
}

.TextBox3{
	display: flex;
	flex-direction: row;
	grid-gap: 64px;
	margin-top: 64px;

}
.InsideImage1{
	
	margin-left: auto;
}

.TextType1{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 64px;
	/* identical to box height, or 133% */

	letter-spacing: -0.02em;
}

.TextType2{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	/* or 150% */
}

.TextType3{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 24px;
	/* identical to box height, or 100% */

	font-feature-settings: 'pnum' on, 'lnum' on;
}

.Offers{
	
	margin-top: 120px;
	padding-top: 120px; 
	padding-bottom: 120px; 

	background-color: #181818;
}

.Offers__Insides{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.Offers__Insides_CardHolder{
	display: flex;
	flex-direction: row;
	grid-gap: 28px;

	margin-top: 80px;
}

.Offers__Insides_Card{

	width: 328px;
	height: 344px;

	padding: 40px;

	background: #FFFFFF;
	border-radius: 16px;


}
.Offers__Insides_Card_Border{
	width: 80px;
	height: 1px;

	opacity: 0.2;
	background-color: #181818;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	margin-bottom: 56px;
	margin-top: 56px;
}

.Offers__TextType1{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 64px;
	/* identical to box height, or 133% */

	letter-spacing: -0.02em;

	color: #FFFFFF;
}
.Offers__TextType2{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 24px;
	/* identical to box height, or 200% */

	font-feature-settings: 'pnum' on, 'lnum' on;

	color: #181818;

	opacity: 0.5;

	width: 288px;
	height: 24px;

	margin-bottom: 8px;
}
.Offers__TextType3{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	/* identical to box height, or 120% */


	color: #181818;

	width: 288px;
	height: 24px;

	margin-bottom: 16px;
}
.Offers__TextType4{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	/* or 150% */


	color: #181818;

	width: 288px;
	height: 96px;
}
.Offers__TextType5{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 24px;
	/* identical to box height, or 100% */

	font-feature-settings: 'pnum' on, 'lnum' on;

	color: #181818;

}
.Price{
	font-family: 'Raleway';
}
.Price__wrap{
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;

	margin: 120px 0;
}
.Price-TextType1{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 64px;
	/* identical to box height, or 133% */

	letter-spacing: -0.02em;

	color: #181818;
}
.DoubleBlock__top{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 40px 24px;
	grid-gap: 8px;

	width: 448px;
	height: 368px;

	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 16px;
}





























